@import './reset';
@import './themes/dark';
@import './themes/light';
@import './variables/variables';

body {
    font: var(--font-m);
}

.app {
    background-color: var(--bg-color);
    color: var(--secondary-color);
    height: 100vh;
    transition: var(--transition-color)
}

.content-page {
    display: flex;
    height: calc(100vh - var(--navbar-height));
}

.AppRouter {
    flex-grow: 1;
}

.img {
    fill: var(--primary-color);
    height: var(--button-height);
    width: var(--button-width);
    object-fit: cover;
}

.icons {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
    object-fit: cover;
}

.page-wrapper {
    padding: 20px 20px 20px 45px;
    flex-grow: 1;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    width: 100%;
}
