@import './reset.scss';
@import './themes/dark.scss';
@import './themes/light.scss';
@import './variables/variables.scss';

.app {
  background-color: var(--bg-color);
  font: var(--font-m);
  color: var(--secondary-color);
  height: 100vh;
  transition: 0.3s;
}

.content-page {
  display: flex;
  height: calc(100vh - var(--navbar-height));
}

.AppRouter {
  flex-grow: 1;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
