@import './reset';
@import './themes/dark';
@import './themes/light';
@import './variables/variables';

body {
    font: var(--font-m);
}

.app {
    background-color: var(--bg-color);
    color: var(--secondary-color);
    height: 100vh;
}

.content-page {
    display: flex;
    height: calc(100vh - var(--navbar-height));
}

.AppRouter {
    flex-grow: 1;
}

.img {
    fill: var(--primary-color);
    height: var(--button-height);
    width: var(--button-width);
    object-fit: cover;
}
