.ArticleSortSelector {
    display: flex;
    align-items: center;
}

.order {
    margin-left: 8px;
}   

@media (max-width: 600px) {
    .ArticleSortSelector {
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }
    .order {
        margin: 0 ;
    }
}