.Button {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.clear {
    border-style: solid;
    background: none;
    border-width: 2px;
    padding: 5px;
    border-radius: 10px;
}

.image-button {
    width: var(--button-width);
    height: var(--button-height);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.red-button {
    border-style: solid;
    background: none;
    border-width: 2px;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(255 67 67);
    color: rgb(255 67 67);
}
