.Button {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
}

.clear {
    border-style: solid;
    background: none;
    border-width: 1px;
    padding: 5px;
    border-radius: 10px;
}

.image-button {
    width: var(--button-width);
    height: var(--button-height);
}
