.Button {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
}

.clear {
    border: none
}

.image-button {
    width: var(--button-width);
    height: var(--button-height);
}
