.item {
    margin-top: 20px;
}

.text {
    opacity: 1;
    text-wrap: nowrap;
    margin-left: 10px;
    animation: visible 0.4s; 
}

.collapsed {
    opacity: 0;
}

@keyframes visible {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}