.Sidebar {
    background-color: var(--secondary-color);
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    border: 0.5px;
    border-right-style: solid;
    border-right-color: var(--border-color);
}

.collapsed {
    width: calc(var(--button-width) + var(--border-width));
}

.text {
    margin-left: 10px;
}