.Sidebar {
    background-color: var(--secondary-color);
    transition: width 0.2s, var(--transition-color);
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    border: 0.5px;
    border-right-style: solid;
    border-right-color: var(--border-color);
}

.collapsed {
    width: calc(var(--button-width) + var(--border-width));
}

.switchers {
    position: absolute;
    bottom: 5px;
}