.NotFoundPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - var(--navbar-height));
    color: var(--primary-color);
    object-fit: cover;
}

h1 {
    padding: 20px;
}

.img {
    height: 300px;
    width: 300px;
}