.dark-theme {
    --bg-color: rgb(44 44 44);
    --primary-color: rgb(255 255 255);
    --secondary-color: rgb(26 26 26);
    --skeleton-bg-color: rgb(60, 60, 60);
    --skeleton-line-color: rgb(93, 93, 93);
    --listbox-bg-color: rgb(60, 60, 60);
    --listbox-active-bg-color: rgb(93, 93, 93);
}
