.ArticlesPageFilters {

}

.sortWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    margin-top: 16px;
}

.tabs {
    margin-top: 16px;
}

@media (max-width: 600px) {
    .sortWrapper {
        flex-direction: column;
        gap: 16px;
        align-items: start;
    }
    .tabs {
        flex-direction: column;
    }
}
