.Page {
    padding: 20px 20px 20px 45px;
    flex-grow: 1;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    width: 100%;
}

.scrollTrigger {
    width: 10px;
    height: 10px;
}