.navbar {
    background-color: var(--secondary-color);
    position: relative;
    display: flex;
    height: var(--navbar-height);
    align-items: center;
    border: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}

.links {
    position: absolute;
    right: 30px;
}

.modal {
    outline: none;
    background: white;
    font-size: 1.6rem;
    width: 76rem;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 15;
    min-height: 47rem;
    position: absolute;
    bottom: 0px;
    will-change: transform;
    transform: translate3d(0, 0, 0);
  }
   
  @media (max-width: 768px) {
    .modal {
      width: 100%;
      max-width: 100%;
      margin-bottom: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }