.starIcon {
    cursor: pointer;
    width: 30px;
}

.normal {
    fill: none;
    stroke: black;
    stroke-width: 10px;
}

.hovered {
    fill: var(--primary-color);
}

.selected {
    cursor: auto;
}