.AppLink {
    font-weight: bolder;
    text-decoration: none;
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
}

.clear {
    text-decoration: none;    
}