.AppLink {
    font-weight: bolder;
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clear {
    display: inline;
    padding: 5px;
    border-style: solid;
    border-radius: 15px;
    border-color: var(--border-color);
    border-width: var(--border-width);
}

.sidebar-link {
    text-decoration: none;
}